

#movie-details {
  display: flex;
  flex-wrap: wrap;
  background-color: whitesmoke;
  border: 0.1em, solid, black;
  padding: 2em;
  width: 80%;
  height: 80%;
  margin: auto;
  margin-top: 6em;
  margin-bottom: 6em;
}

#movie-details img {
  display: flex;
  justify-self: left;
  height: auto;
  flex-wrap: wrap;
}

#up {
  justify-content: left;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

/* #up h2, p {
  display: flex;
} */
#up p, #up pre{
  padding: 1em;
  background-color: rgb(255, 255, 255);
  border: 0.2em solid black;
  margin: 1em;
  text-wrap: wrap;

}

#tagline-top {
  margin-top: 0em;
}

#recap {
  flex-direction: column;
}

#movie-details h2 span {
  font-size: medium;
  color: rgba(100, 96, 96, 0.952);
  font-style: italic;

}

#bottom p{
    
  background: none;
  border: none;
}

#bottom {

  background-color: rgb(255, 255, 255);
  border: 0.2em solid black;
  margin: 1em;
}

#bottom p {
  padding: 0.2
}